.features {
	@media screen and (max-width: 767px){
		margin-top: 60px;
		margin-bottom: 60px;
	}
	@media screen and (min-width: 768px){
		margin-top: 60px;
		margin-bottom: 60px;
	}
    @media screen and (min-width: 1140px){
    margin-top: 113px;
	margin-bottom: 94px;
}
	&__list {
	@media screen and (max-width: 767px){
		    width: 100%;
			margin-left: 5px;
			margin-right: 5px;
		}
    @media screen and (min-width: 768px){
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		}
	@media screen and (min-width: 1140px){
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
	}
}

	&__item {
	@media screen and (max-width: 767px){
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 30px;
	}
	@media screen and (min-width: 768px){
		width: 45%;
		margin-bottom: 30px;
		&:nth-child(1) {
		margin-right: 30px;
		}
		&:nth-child(3) {
			margin-right: 30px;
			}
	}

	@media screen and (min-width: 1140px) {
		&:not(:last-child){
		margin-right: 30px;
	}
	}
}

	&__bg {

	@media screen and (max-width: 767px){
			display: flex;
			justify-content: center;
			align-items: center;
            content: "";
			
            max-width: 450px;
            width: 100%;
            height: 120px;
            margin-bottom: 30px;
			background-color: #F5F4FA;
		}

    @media screen and (min-width: 768px){
			display: flex;
			justify-content: center;
			align-items: center;
	
			width: 100%;
			height: 120px;
			margin-bottom: 30px;
			background-color: #F5F4FA;
		}

	@media screen and (min-width: 1140px){
		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 120px;
		margin-bottom: 30px;
		background-color: #F5F4FA;
	}
}
	
	&__icon {
		width: 70px;
		height: 70px;
	}
	
	&__title {
		font-family: 'Roboto';
		font-weight: 700;
		font-size: 14px;
		line-height: 1;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		text-decoration: none;
		color: #212121;
		margin-bottom: 10px;
	}
	
	&__description {
		font-family: 'Roboto';
		font-weight: 400;
		font-size: 14px;
		line-height: 2;
		letter-spacing: 0.03em;
		text-decoration: none;
		color: #757575;
	}
}





