.teamwork {

	@media screen and (max-width: 767px){
	height: 400px;
    background-size: cover;
	background-color: #AFB1B8;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Img-bg-phone.jpg);
	background-repeat:no-repeat;
	}

	@media screen and (min-width: 768px){
	height: 400px;
	background-size: 100%;
	background-color: #AFB1B8;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Img-bg-tablet.jpg);
	background-repeat:no-repeat;

		}

	@media screen and (min-width: 1140px){
	height: 600px;
	background-size: auto;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-bg.jpg);
	background-repeat:no-repeat;
			}

	&__title {
	@media screen and (max-width: 767px){
		max-width: 360px;
        width: 100%;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 900;
		font-size: 26px;
		line-height: 42px;
		
		text-align: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		
		color: #FFFFFF;
		padding-top: 118px;
		padding-bottom: 30px;
		margin: auto;
	}

	@media screen and (min-width: 768px){
		width: 360px;
		font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 42px;

        text-align: center;
		letter-spacing: 0.06em;
        text-transform: uppercase;

        color: #FFFFFF;
		padding-top: 118px;
		padding-bottom: 30px;
		margin: auto;
	}

	@media screen and (min-width: 1140px){
		width: 696px;
		font-family: 'Roboto';
		text-align: center;
		font-weight: 900;
		font-size: 44px;
		line-height: 1.36;
		letter-spacing: 0.07em;
		text-transform: uppercase;
		color: #FFFFFF;
		padding-top: 200px;
		padding-bottom: 30px;
		margin: auto;
	}
}
	&__button {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 2;
		letter-spacing: 0.06em;
		margin: 0 auto;
		cursor: pointer;
		color: #FFFFFF;
		display: block;
		background-color: #2196F3;
		border-radius: 4px;
		width: 200px;
		height: 50px;
		&:hover {
			background-color: #188CE8;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}
	}
}